.password__title-container {
  position: relative;
  width: 336px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25.5px;
  align-items: center;
  justify-content: center;
}

.password__title.password__title-signup {
  margin: 0px;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.password__button.password__button-signup {
  margin-top: 28px;
  margin-bottom: 0px;
  text-decoration: none;
}

.password__link-back {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 16px;
  height: 16px;
}

.password__message {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.password__message-span {
  color: rgb(98, 93, 245);
}

.password__text {
  color: rgb(98, 93, 245);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  margin-top: 29px;
}

.password__text:hover {
  color: rgb(52, 45, 242);
}
.password__text:active {
  color: rgb(20, 13, 218);
}

.password__button.password__button-confirm {
  width: 336px;
  height: 36px;
  box-sizing: border-box;
}

.password__button.password__button-cancel {
  width: 336px;
  height: 36px;
  box-sizing: border-box;
  border: 1px solid rgb(195, 195, 201);
  background: rgb(255, 255, 255);
  color: rgb(33, 33, 33);
}
