.signup__title-container {
  position: relative;
  width: 336px;
  display: flex;
  flex-direction: row;
  margin-bottom: 25.5px;
  align-items: center;
  justify-content: center;
}

.signup__title.signup__title-signup {
  margin: 0px;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.email__button.email__button-signup {
  margin-top: 28px;
  margin-bottom: 0px;
  text-decoration: none;
}

.email__link-back {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 16px;
  height: 16px;
}

.signup__message {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.email__message-span {
  color: rgb(98, 93, 245);
}

.email__text {
  color: rgb(98, 93, 245);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  margin-top: 29px;
}

.email__text:hover {
  color: rgb(52, 45, 242);
}
.email__text:active {
  color: rgb(20, 13, 218);
}
